.Signup {

  &__Header {
    max-width: 600px;
    @media only screen and (min-width: 1100px) {
      max-width: 1000px;
    }
    height: 52.5px;
    margin: auto;

    &--Previous {
      .Icon--previous {
        font-size: 24px;
      }
    }

    &--Icon {
      text-align: center;
      .Icon--bird {
        color: $theme-color;
        font-size: 28px;
      }
    }

    &--Next {
      text-align: right;
      .btn:disabled {
        cursor: default;
      }
    }
  }

  &__Body {
    max-width: 600px;
    margin: auto;

    &__Contents {
      margin: 0 40px;

      input {
        width: 100%;
        margin-bottom: 1px;
        padding: .6rem 0;
        box-sizing: border-box;
        border: 1px solid $twitter-gray;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        outline: 0;
        font-size: 18.75px;
        &:focus {
          border-bottom: 2px solid $theme-color;
        }
      }

      &__Title {
        margin: 1rem 0;
        font-size: 22.5px;
        font-weight: bold;
      }

      &__Name {
        &--Input {
          &--Error {
            border-bottom: 1px solid $danger-color;
          }
        }
        &--No-name-error {
          @include singup-error-text;
        }
        &--Wordcounter {
          float: right;
          font-size: .85rem;
          color: $twitter-gray;
        }

      }
      &__Phone {
        &--Input {
        }
        &--Invalid {
          @include singup-error-text;
        }
        &--ChangeInput {
          @include signup-change-id-type-text;
        }

      }
      &__Email {
        &--Input {
        }
        &--Invalid {
          @include singup-error-text;
        }
        &--ChangeInput {
          @include signup-change-id-type-text;
        }
      }
      &__Submit {
        &--Notice {
          margin-top: 4rem;
          font-size: 15px;
        }
        &--Button {
          margin-top: 1rem;

        }
      }
    }
  }
}
